@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{    
    --cor1:#FFFFFF;    
    --cor2:#F8F4F9;
    --cor3:#000000;
    --cor4:#B42117;
    --cor6:#909090;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;  
    
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #F8F4F9;
}

header {
    width: 100%;     
    background-color: var(--cor4);
    display: flex;    
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    
}
header > img {
    padding: 0px 0px 0px 30px;
    width: 20%;
    height: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

.icon{
    height: 70px;
    padding: 16px 10px 10px 120px;
    color: white;
    
}
.container-wrapper {       
    padding: 30px 30px 30px 120px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container {
    background-color: #B42117;
    
}

input {
    width: 250px;
}

.input-wrapper {    
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 190px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 16px;
}

.input-wrapper i {
    color: #8e8e8e;
    cursor: pointer;
    text-shadow: none;
    
}

.input-wrapper input {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font: 12px;    
}

.input-wrapper input:focus-visible {
    outline: none;
    color: #000000;
    
}



nav {    
    font-family: var(--fonte-destaque);     
    padding: 8px 0px 8px 8px;    
}

nav > a {    
    color: var(--cor5);
    text-decoration: none;
    font-size: 16pt;
    margin: 0px 35px 0px 0px;   
    padding: 0px 0px 0px 28px; 
}

nav > a:hover {
    color: var(--cor4);    
    padding: 0px 0px 0px 28px; 
    text-decoration: none;
    transition: 1.6s ease;
}

.banner {
    width: 100vw;
    
}

footer {
    color: #FFFFFF;
    background-color:#000000;
    text-align: center;
    font-size: 12px;
    font-family: var(--fonte-padrao);      
    padding: 10px 10px 20px 10px;    
}

footer > a {
    text-decoration: none; 
    font-size: 12px;                    
    color: white;
    font-weight: bold;    
}

footer > a:hover{            
    text-decoration: solid;
    color: #cfcbd0;
    transition: 1.6s ease;
} 