@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{    
    --cor1:#FFFFFF;    
    --cor2:#F8F4F9;
    --cor3:#000000;
    --cor4:#B42117;
    --cor6:#909090;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;  
    
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #F8F4F9;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-input-placeholder {
    font-size: 17px;
    font-family: var(--fonte-padrao);
    color: #909090;
}

header {
    width: 100%;     
    background-color: var(--cor4);
    display: flex;
    align-items: center;        
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);    
}
header > img {    
    padding: 0px 0px 0px 30px;
    width: 20%;
    height: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}


.icon {    
    width: 100%;
    height: 70px;    
    color: white;
    padding: 20px 50px 20px 0px;
    
}

.search-box {
    position: absolute;    
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-box:hover > .search-text {
    width: 320px;
    padding-left: 20px;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 16px;
    width: 0;
    transition: 0.5s;
}

.loupe-white {
    display: none;
    height: 25px;
    width: 25px;
}

.loupe-blue {
    height: 25px;
    width: 25px;
}

.search-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav {
    font-family: var(--fonte-destaque);     
    padding: 8px 0px 8px 8px;    
}

nav > a {    
    color: var(--cor5);
    text-decoration: none;
    font-size: 16pt;
    margin: 0px 35px 0px 0px;   
    padding: 0px 0px 0px 28px; 
}

nav > a:hover {
    color: var(--cor4);    
    padding: 0px 0px 0px 28px; 
    text-decoration: none;
    transition: 1.6s ease;
}

.banner {
    width: 100%;
    
}

footer {
    color: #FFFFFF;
    background-color:#000000;
    text-align: center;
    font-size: 12px;
    font-family: var(--fonte-padrao);      
    padding: 10px 10px 20px 10px;    
}

footer > a {
    text-decoration: none; 
    font-size: 12px;                    
    color: white;
    font-weight: bold;    
}

footer > a:hover{            
    text-decoration: solid;
    color: #cfcbd0;
    transition: 1.6s ease;
} 